// [NEW]
@using Microsoft.AspNetCore.Components

<div class="form-group">
    <label>@Label</label>
    <input type="color" class="form-control" @bind="Value" @onchange="ValueChanged" />
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}
