// [NEW]
@using Microsoft.AspNetCore.Components

<div class="form-group">
    <label>@Label</label>
    <input type="color" class="form-control" value="@Value" @onchange="@(e => ValueChanged.InvokeAsync(e.Value?.ToString()))" />
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}
