/* [NEW] */
.page-navigator .dropdown-menu {
    width: 300px;
}

.page-navigator .page-list {
    max-height: 400px;
    overflow-y: auto;
}

.page-navigator .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
