/* [NEW] */
.page-navigator .dropdown-toggle {
    min-width: 200px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-navigator .page-list {
    max-height: 250px;
    overflow-y: auto;
}

.page-navigator .dropdown-item.published::after {
    content: 'LIVE';
    font-size: 0.6em;
    color: #fff;
    background-color: #28a745;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 10px;
    vertical-align: middle;
}

.page-navigator .dropdown-item.draft::after {
    content: 'DRAFT';
    font-size: 0.6em;
    color: #fff;
    background-color: #6c757d;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 10px;
    vertical-align: middle;
}
