@namespace GFC.BlazorServer.Components.Shared

<div class="studio-sidebar-component">
    <div class="sidebar-icon @(IsActive("Animations") ? "active" : "")" @onclick='() => OnModuleSelected.InvokeAsync("Animations")'>
        <span class="oi oi-beaker" aria-hidden="true"></span>
        <span class="tooltip-text">Animations</span>
    </div>
    <div class="sidebar-icon @(IsActive("Layers") ? "active" : "")" @onclick='() => OnModuleSelected.InvokeAsync("Layers")'>
        <span class="oi oi-layers" aria-hidden="true"></span>
        <span class="tooltip-text">Layers</span>
    </div>
    <div class="sidebar-icon @(IsActive("Properties") ? "active" : "")" @onclick='() => OnModuleSelected.InvokeAsync("Properties")'>
        <span class="oi oi-wrench" aria-hidden="true"></span>
        <span class="tooltip-text">Properties</span>
    </div>
    <div class="sidebar-icon @(IsActive("Settings") ? "active" : "")" @onclick='() => OnModuleSelected.InvokeAsync("Settings")'>
        <span class="oi oi-cog" aria-hidden="true"></span>
        <span class="tooltip-text">Settings</span>
    </div>
</div>

@code {
    [Parameter]
    public string ActiveModule { get; set; }

    [Parameter]
    public EventCallback<string> OnModuleSelected { get; set; }

    private bool IsActive(string moduleName) => ActiveModule == moduleName;
}
