// [NEW]
<h3>Theme Settings</h3>

<div class="form-group">
    <label>Primary Color</label>
    <input type="color" class="form-control" @bind="WebsiteSettings.PrimaryColor" />
</div>

<div class="form-group">
    <label>Secondary Color</label>
    <input type="color" class="form-control" @bind="WebsiteSettings.SecondaryColor" />
</div>

<div class="form-group">
    <label>Heading Font</label>
    <select class="form-control" @bind="WebsiteSettings.HeadingFont">
        <option value="Outfit">Outfit</option>
        <option value="Inter">Inter</option>
        <option value="Arial">Arial</option>
    </select>
</div>

<div class="form-group">
    <label>Body Font</label>
    <select class="form-control" @bind="WebsiteSettings.BodyFont">
        <option value="Inter">Inter</option>
        <option value="Outfit">Outfit</option>
        <option value="Verdana">Verdana</option>
    </select>
</div>

<button class="btn btn-primary" @onclick="SaveChanges">Save</button>
