@* [NEW] *@
@implements IDisposable
@inject Services.IToastService ToastService

<div class="toast-container position-fixed top-0 end-0 p-3">
    @if (isVisible)
    {
        <div class="toast show @cssClass" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header @headerCssClass">
                <strong class="me-auto">@heading</strong>
                <button type="button" class="btn-close" @onclick="HideToast"></button>
            </div>
            <div class="toast-body">
                @message
            </div>
        </div>
    }
</div>

@code {
    private bool isVisible;
    private string message;
    private string cssClass;
    private string headerCssClass;
    private string heading;
    private System.Timers.Timer countdown;

    protected override void OnInitialized()
    {
        ToastService.OnShow += ShowToast;
    }

    private async Task ShowToast(string message, ToastLevel level)
    {
        BuildToastSettings(level, message);
        isVisible = true;
        await InvokeAsync(StateHasChanged);

        SetCountdown();
    }

    private void BuildToastSettings(ToastLevel level, string message)
    {
        switch (level)
        {
            case ToastLevel.Info:
                cssClass = "toast-info";
                headerCssClass = "bg-info text-white";
                heading = "Info";
                break;
            case ToastLevel.Success:
                cssClass = "toast-success";
                headerCssClass = "bg-success text-white";
                heading = "Success";
                break;
            case ToastLevel.Warning:
                cssClass = "toast-warning";
                headerCssClass = "bg-warning text-dark";
                heading = "Warning";
                break;
            case ToastLevel.Error:
                cssClass = "toast-error";
                headerCssClass = "bg-danger text-white";
                heading = "Error";
                break;
        }

        this.message = message;
    }

    private void SetCountdown()
    {
        if (countdown != null)
        {
            countdown.Stop();
            countdown.Dispose();
        }

        countdown = new System.Timers.Timer(5000);
        countdown.Elapsed += (sender, args) => HideToast();
        countdown.AutoReset = false;
        countdown.Start();
    }

    private async void HideToast()
    {
        isVisible = false;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ToastService.OnShow -= ShowToast;
        countdown?.Dispose();
    }
}
