// [MODIFIED]
@using GFC.Core.Models

@if (SelectedKeyframe != null)
{
    <div class="transition-editor">
        <h4>Edit Transition</h4>
        <div class="form-group">
            <label>Target Element</label>
            <InputText class="form-control" @bind-Value="SelectedKeyframe.Target" disabled />
        </div>
        <div class="form-group">
            <label>Effect Type</label>
            <InputSelect class="form-control" Value="SelectedKeyframe.Effect" ValueExpression="() => SelectedKeyframe.Effect" ValueChanged="(string value) => OnValueChanged(value, (kf, val) => kf.Effect = val)">
                <option value="fadeIn">Fade In</option>
                <option value="slideUp">Slide Up</option>
                <option value="slideDown">Slide Down</option>
                <option value="slideLeft">Slide Left</option>
                <option value="slideRight">Slide Right</option>
                <option value="scaleIn">Scale In</option>
                <option value="bounceIn">Bounce In</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label>Duration: @SelectedKeyframe.Duration.ToString("0.0")s</label>
            <input type="range" class="form-range" min="0.1" max="10" step="0.1"
                   value="@SelectedKeyframe.Duration"
                   @oninput="(e) => OnValueChanged(e.Value.ToString(), (kf, val) => kf.Duration = double.Parse(val))" />
        </div>
        <div class="form-group">
            <label>Delay: @SelectedKeyframe.Delay.ToString("0.0")s</label>
            <input type="range" class="form-range" min="0" max="10" step="0.1"
                   value="@SelectedKeyframe.Delay"
                   @oninput="(e) => OnValueChanged(e.Value.ToString(), (kf, val) => kf.Delay = double.Parse(val))" />
        </div>
        <div class="form-group">
            <label>Easing Function</label>
            <InputSelect class="form-control" Value="SelectedKeyframe.Easing" ValueExpression="() => SelectedKeyframe.Easing" ValueChanged="(string value) => OnValueChanged(value, (kf, val) => kf.Easing = val)">
                <option value="linear">Linear</option>
                <option value="easeIn">Ease In</option>
                <option value="easeOut">Ease Out</option>
                <option value="easeInOut">Ease In-Out</option>
            </InputSelect>
        </div>
    </div>
}
else
{
    <div class="transition-editor-placeholder">
        <p>Select a motion bar on the timeline to edit its properties.</p>
    </div>
}


@code {
    [Parameter]
    public AnimationKeyframe SelectedKeyframe { get; set; }

    [Parameter]
    public EventCallback OnKeyframeChanged { get; set; }

    private async Task OnValueChanged<T>(T value, Action<AnimationKeyframe, T> updateAction)
    {
        if (SelectedKeyframe != null)
        {
            updateAction(SelectedKeyframe, value);
            await OnKeyframeChanged.InvokeAsync();
        }
    }
}
