@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/globals.css";

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: var(--studio-font-family);
    background-color: var(--studio-color-bg-canvas);
    color: var(--studio-color-text-strong);
  }
  
  * {
    box-sizing: border-box;
  }
}

