@using GFC.BlazorServer.Components.Pages.Admin.Studio

<div class="canvas-container">
    <iframe src="http://localhost:3000" class="preview-iframe @currentViewCssClass"></iframe>
</div>

@code {
    private string currentViewCssClass = "desktop-view";

    public void SetDeviceView(DeviceView view)
    {
        currentViewCssClass = view switch
        {
            DeviceView.Desktop => "desktop-view",
            DeviceView.Tablet => "tablet-view",
            DeviceView.Mobile => "mobile-view",
            _ => "desktop-view"
        };
        StateHasChanged();
    }
}
