@page "/vpn-required"

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mt-5">Private Network Access Required</h1>
            <p class="lead">This application is restricted to private network access only. Please connect to the GFC WireGuard VPN to continue.</p>
        </div>
    </div>
</div>
